




.text-primary{
    color: #FD6E0A;
}

.btn-primary{

    color:white;
    background-color:  #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;

}


.section-title {
    color:  #181818;
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 700;
   
}

/* nav related style  */
nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

.nav-title {
    color:  #181818 ;
    font-family: "Open Sans";
    font-size: 45px;
  
    

}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color:  #474747;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
   
   
}

/* header here  */ 

.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    margin: 30px 30px 0px 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text{
    font-size: 45px;
    margin: 0;
}

.banner-title{
    font-size: 85px;
    margin: 5px;
}

.banner-pic {
    width: 500px;
}


/* main section */

.main{
    
    max-width: 1140px;
    margin: 0 auto;
}


/* About section  */ 

.about {
    padding: 130px;
    border-radius: 10px;
    margin: 130px 0;
}

.section-text{
    color: #757575;
    text-align: center;
    font-size: 18px;

   
}
/* about section */

.about-info-continer {
    display: flex;
    justify-content: space-around;
}

.about-info {
        text-align: center;
}

.info-title {
    color: #757575;
    font-size: 20px;

   
}

.info-text {
    color: rgb(9, 8, 8);
    font-size: 25px;
    font-weight: 700px;
   
     
}
#what-i-do-dexcrption{
    padding: 30px 150px;
}

/* Skills container */


.skills-container {
    display: flex;
    gap: 24px;
    padding: 0 30px;
}

.skills{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
   
    
}

.resume-column{
    color: #0a0a0a;
    font-size: 30px;


}

.resume-container hr{
    margin: 30px;
}

.resume-item-title{
    color:  #0b0c0c;
    font-size: 25px;
  
 
}

.resume-container{

    display: flex;
    gap: 50px;
    margin: 50px;
  
   
}


.resume-item-inst{
    color: #757575;
    font-size: 20px;
    font-weight: 600;

}

.resume-para{

    color: #757575;
    font-size: 16px;
    font-weight: 400;
   

}

.download-cv{
    text-align: center;
   margin-top: 50px;
}

.footer{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin: 100px;
    padding: 30px;
}
.contact input[type="text"], .contact input[type="email"], 
textarea  {
     display: block;
     margin-bottom: 25px;
     padding: 18px 35px;
     color: #151515;
     border-radius: 5px;
     border: 0;
     width: 100%;
}