
/* body{
    font-family: 'Lato', 'sans-serif ';
    font-family: 'Open Sans', 'sans-serif ';
} */



 body  {
  font-family: "Outfit", system-ui;
  font-optical-sizing: auto;
  font-weight: 800;

}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{

    color:white;
    background-color:  #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;

}

/* nav related style  */
nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.nav-title {
    color:  #181818 ;
    font-family: "Open Sans";
    font-size: 45px;
  
    

}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color:  #474747;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
   
   
}

/* header here  */ 

.header{
    background-color: #FFF8F3;
}

.banner{
    margin: 30px 30px 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* .banner-text{

    color: #474747;
    font-size: 25px;

}

.banner-title{

    color: #474747;
    font-family: "Open Sans";
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


} */

.banner-pic {
    width: 500px;
}